@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1f2937;
}

a {
  text-decoration: none;
}

.header {
  padding: 16px;
}

.header a {
  text-decoration: none;
  font-size: 18px;
  color: #f9faf8;
  transition: color 0.15s;
}

.header a:hover {
  color: #bbbbbb;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.logo a {
  font-size: 28px;
  font-weight: bold;
  color: #f9faf8;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container ul {
  display: flex;
}

.container ul li {
  margin-left: 24px;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  border-radius: 15px;
}

.hero .container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero img {
  height: 400px;
  margin-bottom: 32px;
}

.hero-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-subtitle {
  font-size: 18px;
  color: #e5e7eb;
  width: 500px;
  margin: 16px 0;
}

.contact-button {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #3882f6;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.contact-button:hover {
  background-color: #156dfa;
}

.information-section {
  background-color: #fff;
}

.information-section .container {
  display: flex;
  justify-content: space-around;
  gap: 54px;
  padding: 52px;
}

.information-section-title {
  padding: 32px 0;
  font-size: 36px;
  text-align: center;
  font-weight: 900;
  color: #1f2937;
}

.quality-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inner-text {
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 28px;
  font-weight: 900;
}

.outer-text {
  margin-top: 16px;
  max-width: 120px;
  font-size: 18px;
}

.quote-section {
  height: 40vh;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .quote {
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
  margin-bottom: 32px;
}

.quote-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.container .author a {
  color: #000;
  font-size: 20px;
  font-weight: 900;
}

.container .author a:hover {
  text-decoration: underline;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 50px 0;
}

.action .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  padding: 40px 120px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.cta-text h2 {
  font-size: 1.5em;
}

.cta-text p {
  margin: 5px 0 0;
  font-size: 1em;
  opacity: 0.9;
}

.contact-button-2 {
  background-color: transparent;
  padding: 6px 32px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: opacity 0.15s, color 0.15s;
}

.contact-button-2:hover {
  opacity: 0.7;
}

.footer {
  padding: 32px 0;
  background-color: #1f2937;
  text-align: center;
  color: #fff;
}