* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

ul li {
  margin-right: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  padding: 36px;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 5px;
  transition: font-size 0.3s ease;
}

.logo:hover {
  font-size: 24px;
}

.hero {
  background-color: #1f2937;
  padding: 36px 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info {
  max-width: 500px;
}

.info-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 12px;
}

.info-subtitle {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 24px;
}

.info>p {
  margin-bottom: 26px;
}

.xtrphy {
  max-width: 300px;
  border-radius: 14px;
  border: 3px solid #f9faf8;
  transition: transform 0.65s ease, box-shadow 0.65s ease;
}

.xtrphy:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 64px 12px rgba(0, 0, 0, 0.3);
}

.whyme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  background-color: #f9faf8;
}

.whyme-title {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 36px;
}

.quality-container {
  display: flex;
  justify-content: space-around;
  gap: 54px;
}

.quality-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-text {
  text-align: center;
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 28px;
  font-weight: 900;
}

.outer-text {
  margin-top: 16px;
  max-width: 120px;
  font-size: 18px;
  text-align: center;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
}

.quote {
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
}

.author {
  margin-top: 32px;
  color: #000;
  font-size: 20px;
  font-weight: 900;
}

.modal-section {
  padding: 4rem;
  background-color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #3882f6;
  padding: 36px 120px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-title,
.modal-subtitle {
  color: #f9faf8;
}

.modal-subtitle {
  margin-top: 8px;
}

.contact {
  border: 2px solid #f9faf8;
  padding: 6px 36px;
  border-radius: 16px;
  font-weight: bold;
  transition: .15s ease;
}

.contact:hover {
  border-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer {
  padding: 36px;
  background-color: #1f2937;
  color: #fff;
  text-align: center;
}